.env
.vscode/settings.json
cogs/__pycache__/__init__.cpython-38.pyc
cogs/__pycache__/music.cpython-38.pyc
cogs/__pycache__/admin.cpython-38.pyc
cogs/__pycache__/events.cpython-38.pyc
cogs/__pycache__/utilities.cpython-38.pyc
